<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4>
    <a href="/">Home</a> &nbsp;
    <a href="/home">Home</a> &nbsp;
    <a href="/about">About</a> &nbsp;
    <a href="/contact">Contact</a> &nbsp;
    <a href="/shop">Shop</a> &nbsp;
    <a href="/shop/product">Shop Product</a> &nbsp;
    <a href="/blog">Blog</a> &nbsp;
    <a href="/product">Product</a> &nbsp;
</h4>
<h3>{{pagename}} Template Page :</h3>
<h1 style="color:red;">Hello {{fname}}</h1>
<h4>Today Crypto {{ coin_name }} Price {{ price}} :: {{curtime}}</h4>
<br>
<hr>
<form action="/home" method="post">
    {% csrf_token %}
    <input type="text" name="fname" value="Riyan" />
    <input type="submit" name="sbmt" value="Submit">
</form>

</body>
</html>
